name: "Build and Test"
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build the project
        run: npm run build
      - name: Run tests
        run: npm run test
      - name: Run linter
        run: npm run lint
      - name: Pack the package
        run: npm pack
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: muzzle-package
          path: ./*.tgz

  publish-npm:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build the project
        run: npm run build
      - run: npm install npm@11 -g # Use npm@11 to publish with OIDC
      - name: Publish package on NPM
        working-directory: typescript
        run: npm publish --access public --provenance
